<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        th {
            text-align: center;
        }

        td {
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>Due Invoices</h2>
    <p>The following Invoices are Due.</p>
    <table id="DrugList">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Date<br /></th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            {List}
        </tbody>
    </table>

</body>
</html>
