
<table class="table">
    <thead>
        <tr>
            <th>
                Drug
            </th>
            <th>
                Batch Id
            </th>
            <th>
                Expiring date
            </th>
           
        </tr>
    </thead>
    <tbody>
 {
       
}
    </tbody>
</table>
