
<table class="table">
    <thead>
        <tr>
            <th>
                Drug
            </th>
            <th>
                Batch Id
            </th>
            <th>
                Expiring date
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                 @item.Product.ProductName
            </td>
            <td>
                @item.BatchID
            </td>
            <td>
                @item.ExpiryDate
            </td>
           
        </tr>
}
    </tbody>
</table>
