<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        th {
            text-align: center;
        }

        td {
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>Expired drugs</h2>
    <p>The following drugs will expired in less than three months.</p>
    <table id="DrugList">
        <thead>
            <tr>
                <th>#</th>
                <th>product Name</th>
                <th>Batch<br /></th>
                <th>ExpireDate</th>
                <th>In stock</th>
            </tr>
        </thead>
        <tbody>
            {List}
        </tbody>
    </table>

</body>
</html>
