<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        th {
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>Out of stock drugs</h2>
    <p>The following drugs are out of stock.</p>
    <table id="DrugList">
        <thead>
            <tr>
                <th>#</th>
                <th>product Name</th>
                <th>Units of measure<br></th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {List}
        </tbody>
    </table>
    
</body>
</html>
